.page-header-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    display: inline-block;
    width: 100%;
}

.page-title-wrapper  {
    /* display: inline; */
}

.page-title {
    font-size: 3rem;
}

.header-span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
}

.info-bar-wrapper{
    height: 35px;
    display: inline;
}

.info {
    /* padding-top: 1.75rem; */
    display: inline;
}


.new-plant-btn {
    border: solid #bc5952 2px;
    float: left;
    position: relative;
    transition-duration: 0.2s;
    background-color: #bc5952;
    color: white;
    border-radius: 20px;
    float: right;
    padding: 3px 9px;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
}

.new-plant-btn:hover {
    background-color:  white;
    color: #bc5952;
    border: solid #bc5952 2px;
}

.new-plant-btn-wrapper {
    height: 35px;
    display:inline;
    vertical-align: middle;
}


h3 {
    color: white;
    display: inline;
    font-size: 3rem !important;
    margin-left:20px;
    height:100%;
    /* height: 100px;
  line-height: 100px;
  text-align: center; */
}

h3 span {
    /* background-color:#6fc8ed; */
    background-color:#98cde3;
    border-radius: 10px;
    padding: 0.25rem;
    padding-right:0.4rem;
    padding-left:0.4rem;
    font-size: 1rem;
    top: 50%;
    margin-top: -10px;
    vertical-align: middle;
}
