@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap');

#plantImg {
    width: 44%;
    padding-bottom: 12px;
}

.plant-name {
    font-weight: bolder;
}

.plant-detail-header {
    font-weight: 300;
    font-style: italic;
}

.plant-detail {
    display: inline;
}

.btn-group {
    position: relative;
    float: right;
}

.water-btn {
    border-radius: 15px;
    padding-right: 9px;
    padding-left: 9px;
    height: 2em;
    width: 2em;
    display: inline;
}

.water-btn-blue {
    border-radius: 15px;
    padding-right: 9px;
    padding-left: 9px;
    /* color: #6fc8ed; */
    color: #98cde3;
    height: 2em;
    width: 2em;
    display: inline;
}

.expand-btn {
    border-radius: 15px;
    padding-right: 9px;
    padding-left: 9px;
    margin-left: 5px;
}

.hidden-element {
    display: none;
}

.needs-water-icon {
    background-color:#98cde3;
    color: white;
    display: inline;
    border-radius: 10px;
    padding: 0.05rem;
    padding-right:0.4rem;
    padding-left:0.4rem;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 0.7em;
    height: 1.5em;
    /* margin-top: 0.25em; */
}
