@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

#plantCard {
    font-family: 'Fira Sans', sans-serif;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 4px 8px 0 rgba(0,0,0,0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 4px 8px 0 rgba(0,0,0,0.2); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    text-align: left;
    padding: 16px;
    background-color: white;
}
#plantDiv {
    width: 50vw;
    height: 50vw;
}
#plantTable {
    padding-left: 5vw;
    padding-right: 5vw;
}
